:root {
  --accent-color: #1762af;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

input,
textarea,
option,
select,
button {
  font-family: Poppins, Poppins Fallback;
}

input:focus,
textarea:focus,
select:focus,
option:focus {
  outline: none;
}

body {
  color: #222;
  height: 100vh;
  font-family: Poppins, Poppins Fallback;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.screen:not(:has(article > svg)) footer {
  background: rgb(244, 244, 245);
}
